ansible==2.9.12
ansible-playbook-grapher==0.10.0
ansible-tower-cli==3.3.9
apypie==0.3.1
awxkit==18.0.0
certifi==2020.4.5.1
cffi==1.14.1
chardet==3.0.4
click==6.7
colorama==0.4.4
colour==0.1.5
cryptography==3.0
debtcollector==2.2.0
distro==1.5.0
fsspec==2021.11.1
graphviz==0.14.1
idna==2.9
importlib-metadata==2.0.0
importlib-resources==3.0.0
infoblox==1.1.1
infoblox-client==0.5.0
iso8601==0.1.13
Jinja2==2.11.2
jmespath==0.10.0
lxml==4.5.2
MarkupSafe==1.1.1
msgpack==1.0.0
netaddr==0.8.0
netifaces==0.10.9
numpy==1.19.5
oslo.config==8.3.2
oslo.context==3.1.1
oslo.i18n==5.0.1
oslo.log==4.4.0
oslo.serialization==4.0.1
oslo.utils==4.6.0
packaging==20.4
pandas==1.1.5
pbr==5.5.0
psutil==5.7.0
pycparser==2.20
pyinotify==0.9.6
pyOpenSSL==19.1.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
pyvmomi==7.0
PyYAML==5.3.1
requests==2.23.0
rfc3986==1.4.0
six==1.15.0
stevedore==3.2.2
suds-jurko==0.6
urllib3==1.25.9
git+https://github.com/vmware/vsphere-automation-sdk-python.git@70d0d29e60f52da9e9d840e1cafcbecd950fd590
wrapt==1.12.1
zipp==3.2.0
